@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Eai Pessoal, de buenas ?</h1>
    <p>Meu Primeiro Site de Lanche em ASP.NET <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<partial name="_Carousel"/>